body {
text-align: center;
background-color: hsl(22, 94%, 74%);
background-image: radial-gradient(#fbab7e, #bc68ee);
}


/* CSS Menu */
.ribbon{
    display: inline-block;
  }
.ribbon:after, .ribbon:before {
  margin-top:0.5em;
  content: "";
  float:left;
  border:1.5em solid #fff;
}

.ribbon:after {
  border-right-color:transparent;
}

.ribbon:before {
  border-left-color:transparent;
}
.ribbon a:link, .ribbon a:visited { 
  color:#000;
  text-decoration:none;
  float:left;
  height:3.5em;
  overflow:hidden;
}
.ribbon span {
  background:##fbab7e;
  display:inline-block;
  line-height:3em;
  padding:0 1em;
  margin-top:0.5em;
  position:relative;
  transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
  background:#fbab7e;
  margin-top:0;
}

.ribbon span:before {
  content: "";
  position:absolute;
  top:3em;
  left:0;
  border-right:0.5em solid #9B8651;
  border-bottom:0.5em solid #fff;
}

.ribbon span:after {
  content: "";
  position:absolute;
  top:3em;
  right:0;
  border-left:0.5em solid #9B8651;
  border-bottom:0.5em solid #fff;
}
/* Fin CSS Menu */


h2{
font-family: 'Neonderthaw', cursive;
  font-size:7rem;
  margin-top:-20vh;
  color:white;
}

h1{
font-family: 'Dancing Script', cursive;
  font-size:5rem;
  margin-top:12vh;
  color:white;

}

