body {
text-align: center;
background-color: hsl(22, 94%, 74%);
background-image: radial-gradient(#fbab7e, #bc68ee);
}

@font-face {
  font-family: "best";
  font-style: normal;
  src: url('fonts/best.otf');
}  

/* CSS Menu */
.ribbon{
    display: inline-block;
  }
.ribbon:after, .ribbon:before {
  margin-top:0.5em;
  content: "";
  float:left;
  border:1.5em solid #fff;
}

.ribbon:after {
  border-right-color:transparent;
}

.ribbon:before {
  border-left-color:transparent;
}
.ribbon a:link, .ribbon a:visited { 
  color:#000;
  text-decoration:none;
  float:left;
  height:4.5em;
  overflow:hidden;
}
.ribbon span {
  background:#fff;
  display:inline-block;
  line-height:3em;
  padding:0 1em;
  margin-top:0.5em;
  position:relative;
  transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
  background:#FFD204;
  margin-top:0;
}

.ribbon span:before {
  content: "";
  position:absolute;
  top:3em;
  left:0;
  border-right:0.5em solid #9B8651;
  border-bottom:0.5em solid #fff;
}

.ribbon span:after {
  content: "";
  position:absolute;
  top:3em;
  right:0;
  border-left:0.5em solid #9B8651;
  border-bottom:0.5em solid #fff;
}

</div>;
/* Fin CSS Menu */


h1{
font-family: 'Neonderthaw', cursive;
  font-size:4rem;
  margin-top:5vh;
  color:white;
  /* font-family: 'Neonderthaw', cursive; */
  animation-name:glow;
  animation-duration:12s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

h2{
font-family: 'Neonderthaw', cursive;
  font-size:10rem;
  margin-top:0vh;
  color:white;
  /* font-family: 'Neonderthaw', cursive; */
  animation-name:glow;
  animation-duration:12s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
